<main class="col-12 col-lg-8 post-container bg-white d-flex flex-column px-3 pt-5 pb-0 px-md-5"><img
        src="https://www.bitdegree.org/storage/file-294696-ubhF6PPJFUi5ZITt.jpg"
        alt="Gamification trong giáo dục: Hình thức e-learning tương tác mới cover image" class="mw-100 mb-5">
    <article class="ml-xl-5 article">
        <div class="article-intro">
            <p>Kể từ khi bắt đầu nền giáo dục lịch sử loài người đã phục vụ nhân dân như một quá trình đạt được kiến
                thức, kỹ năng và thói quen để cải thiện cuộc sống hàng ngày. Mặc dù quá trình này được thực hiện phổ
                biến nhiều nhất bởi các nhà giáo dục, việc hiện đại hóa quá trình học tập khiến nhiều người muốn tự học
                mọi thứ.</p>
            <p>Khi học tập truyền thống bắt đầu cho thấy những vết nứt trên bề mặt, <a
                    href="https://www.jotform.com/educational-technology/">các hình thức giáo dục thay thế</a> bắt đầu
                hiện diện nhiều hơn. Điều này chính là sự phát triển như một phản ứng đối với việc thiếu thông tin và
                thiếu sự đa dạng trong các phương pháp truyền thống. Quá trình này dẫn đến nhiều hình thức giáo dục
                không chính thức như giáo dục tại nhà (homeschooling), học hè (Summer schooling), học tập tự định hướng
                (Self-directed learning), v.v...Kể từ việc tự giáo dục không phải là điều dễ dàng, nhiều người xem đó
                như vẽ thêm việc hơn là tìm cách học tập thú vị. Đó là lý do vì sao gamification trong giáo dục ra đời.
            </p>
            <h2><strong>Gamification là gì?</strong><br><img
                    src="https://media.bitdegree.org/storage/media/images/2019/06/pixel-cells-3976295_640-300x231.png"
                    alt="New idea realisation" width="300" height="231"
                    data-src="https://media.bitdegree.org/storage/media/images/2019/06/pixel-cells-3976295_640-300x231.png"
                    class="float-right ml-4"></h2>
            <p>Gamification là gì chắc hẳn là câu hỏi đầu tiên bạn thắc mắc khi nhìn thấy từ này. Gamification là việc
                áp dụng việc thiết kế trò chơi vào những nơi không liên quan đến trò chơi, như cách thêm cấp độ, kinh
                nghiệm và điểm sức khỏe hoặc các đặc điểm khác liên quan khác của trò chơi.</p>
            <p>Công nghệ đã gây tiếng vang trong môi trường giáo dục trực tuyến hơn bao giờ hết. Sinh viên trẻ, những
                người được sinh ra trong kỷ nguyên kỹ thuật số, độc quyền sử dụng các công nghệ e-learning trong hầu hết
                mọi khía cạnh của cuộc sống. Đây là một trong những lý do tại sao người trưởng thành và các chuyên gia
                hiện tại cần phải thích nghi theo với cùng một cách sử dụng điện thoại thông minh, máy tính bảng và
                internet.</p>
            <p>Gamification e-learning là một quá trình tích hợp cơ học trò chơi vào quá trình học tập. Nó chủ yếu được
                sử dụng để thôi thúc mọi người học tập, làm cho quá trình trở nên vui vẻ và thú vị hơn. Việc ứng dụng
                quá trình học tập sử dụng các kỹ thuật mà các nhà thiết kế trò chơi sử dụng để thu hút người chơi và
                tặng thưởng cho sự tiến bộ của họ trong việc học.</p>
            <p>Nếu bạn vẫn chưa rõ Gamification là gì, bạn có thể hiểu nôm na nó đang tạo ra một trò chơi và thêm các
                yếu tố giáo dục nhưng lại hoạt động theo cách khác.</p>
            <h2><strong>Tại sao nên sử dụng Gamification trong giáo dục?</strong><br><img
                    src="https://media.bitdegree.org/storage/media/images/2019/06/abstract-1264071_640-300x206.png"
                    alt="Children education fairytale" width="300" height="206"
                    data-src="https://media.bitdegree.org/storage/media/images/2019/06/abstract-1264071_640-300x206.png"
                    class="float-right ml-4"></h2>
            <p>Trong thời đại khủng hoảng của sự tương tác, cần có những phương pháp và cách thức mới để thu hút không
                chỉ học viên trẻ mà cả những học viên lớn tuổi trong quá trình học tập suốt đời. Việc gamification quá
                trình học tập thúc đẩy mong muốn tự nhiên của mọi người giao tiếp, học hỏi, đạt thành tựu, cạnh tranh,
                v.v., vì vậy họ không cảm thấy như mình đang làm việc hoặc buộc bản thân phải làm những việc không cảm
                thấy thoải mái. Chủ yếu là nó cũng sử dụng phần thưởng để trao cho sự tiến bộ hoặc khi đạt được một
                trình độ nhất định. Nhưng tại sao nó hoạt động được như vậy?</p>
            <p>Câu trả lời cho câu hỏi này khá đơn giản, nhưng hãy tách thành các khía cạnh kỹ thuật và tâm lý.</p>
        </div>
        <div class="table-of-contents p-4 p-md-5">
            <h3 class="content-title mb-4">Table of Contents</h3>
            <ol class="content-list">
                <div class="l2 content-list"><span>0.1</span> <a href="#-strong-kh-iacute-a-c-nh-k-thu-t-strong-">Khía
                        cạnh kỹ thuật:</a></div>
                <div class="l2 content-list"><span>0.2</span> <a
                        href="#-strong-kh-iacute-a-c-nh-t-acirc-m-l-yacute-strong-">Khía cạnh tâm lý:</a></div>
                <div class="l1 content-list"><span>1. </span> <a
                        href="#-strong-e-learning-gamification-s-d-ng-c-aacute-c-y-u-t-n-agrave-o-strong-">E-learning
                        gamification sử dụng các yếu tố nào?</a></div>
                <div class="l1 content-list"><span>2. </span> <a
                        href="#-strong-gamification-gi-uacute-p-b-n-atilde-o-ghi-nh-m-i-th-t-t-h-n-strong-">Gamification
                        giúp bộ não ghi nhớ mọi thứ tốt hơn</a></div>
                <div class="l1 content-list"><span>3. </span> <a
                        href="#-strong-t-aacute-m-ng-c-c-t-l-otilde-i-c-a-gamification-strong-">Tám động cơ cốt lõi của
                        Gamification</a></div>
                <div class="l2 content-list"><span>3.1</span> <a
                        href="#-strong-t-aacute-m-ng-c-c-t-l-otilde-i-strong-">Tám động cơ cốt lõi:</a></div>
                <div class="l1 content-list"><span>4. </span> <a href="#k-t-lu-n">Kết luận</a></div>
            </ol>
        </div>
        <div class="border-bottom article-content pb-5">
            <h3 id="-strong-kh-iacute-a-c-nh-k-thu-t-strong-"><strong>Khía cạnh kỹ thuật:</strong></h3>
            <ul>
                <li><em>Thanh toán bằng tiền thưởng</em>. Một trong những nền tảng của gamification trong giáo dục trực
                    tuyến là phần thưởng và miễn phí dù nó có hữu ích hay không, nhưng nhận được phần thưởng khi vượt
                    qua một số khóa học hoặc học những điều mới khiến sinh viên học năng suất cao hơn vì điều đó có thể
                    tác động đến thực tế cuộc sống và cải thiện quá trình học tập thậm chí nhiều hơn. Ngoài ra, khi sinh
                    viên biết mình sẽ được khen thưởng khi thực hiện một nhiệm vụ, anh ta chú ý đến chi tiết trong tài
                    liệu học tập kỹ hơn, không giống như cuốn sách mà anh ta thậm chí không quan tâm.</li>
                <li><em>Phản hồi ngay lập tức</em>. E-learning gamification cho phép học viên nhận được phản hồi ngay
                    lập tức về sự tiến bộ của mình và vị trí của học viên đó so với học viên khác, làm cho quá trình trở
                    nên nhanh hơn so với phương pháp truyền thống.</li>
                <li><em>Tiến độ trở nên thú vị hơn</em>. Đây là nơi đồ họa và toàn bộ thiết kế của nền tảng được xây
                    dựng. Hình ảnh và âm thanh có thể ảnh hưởng đến năng suất và hoạt động trí não chúng ta, nhưng hãy
                    đối mặt thực tế, sẽ thú vị hơn nhiều khi chúng ta xem hoặc đọc nội dung tương tác.</li>
                <li><em>Sự hợp tác</em>. Gamification trong giáo dục trực tuyến không chỉ cho phép học viên cạnh tranh
                    với nhau mà còn hợp tác như bạn bè và chia sẻ kiến thức với nhau.</li>
                <li><em>Thanh tiến trình cho chúng ta biết chúng ta đang ở đâu và chúng ta đang hướng tới đâu.
                    </em>Không ai thích cảm giác lạc lõng, đó là lý do tại sao điều quan trọng là phải có một bản đồ cho
                    thấy bạn phải làm bao nhiêu công việc cho đến khi bạn đến đích.</li>
            </ul>
            <p>Mặt khác, từ khía cạnh <a href="https://www.medicalnewstoday.com/articles/318345.php#1">tâm lý</a> cũng
                có nhiều lý do để chứng minh rằng gamification hiệu quả:</p>
            <h3 id="-strong-kh-iacute-a-c-nh-t-acirc-m-l-yacute-strong-"><strong>Khía cạnh tâm lý:</strong></h3>
            <ul>
                <li><em>Trước hết, nó cho phép bạn kiểm soát hoàn toàn hành động của mình</em>. Nhiều nghiên cứu tâm lý
                    cho thấy việc bị ép buộc hoặc bị lôi kéo để làm điều gì đó dẫn đến việc mất động lực. Khi một học
                    viên ngồi vào ghế lái, anh ta cảm thấy mình đang kiểm soát vận mệnh của mình, điều được nhiều người
                    đánh giá cao.</li>
                <li><em>Gamification trong giáo dục củng cố hành vi tốt</em>. Một trong những ví dụ tốt nhất - Facebook.
                    Bạn đang làm tốt một thứ gì đó? Có ngay một lượt thích hoặc chia sẻ hoặc, trong tình huống này, có
                    một phần thưởng. Nếu bạn hoàn thành toàn bộ khóa học, bạn có thể yêu cầu <a
                        href="https://vn.bitdegree.org/chung-chi-truc-tuyen-mien-phi">chứng chỉ miễn phí</a> cho mình.
                </li>
                <li><em>Cảm giác đạt thành tựu.</em> Tất cả mọi thứ chúng ta làm, chúng ta mong muốn đạt được một thứ gì
                    đó. Đây là một yếu tố thúc đẩy tâm lý rất mạnh mẽ để một người có ý niệm về thành tựu.</li>
                <li><em>Gamification kích hoạt một cơn sốt dopamine</em>. Chúng ta biết rằng các trò chơi, theo đó một
                    người nhận được phản hồi tích cực về công việc của mình hoặc giành được thứ gì đó, có thể kích hoạt
                    não giải phóng dopamine được biết là một phần chính trong thành phần động lực của hành vi được thức
                    đẩy bởi phần thưởng và đôi khi có thể dẫn đến cảm giác nghiện khiến bạn trở lại với thói quen này
                    mỗi ngày để mong đạt được kết quả tốt hơn trước.</li>
            </ul>
            <p>Có nhiều lý do tại sao quá trình gamification trong giáo dục nên được sử dụng. Nếu được thực hiện chính
                xác, nó có thể nắm lấy cảm xúc mạnh mẽ của con người và tạo ra trải nghiệm học tập tích cực.</p>
            <h2 id="-strong-e-learning-gamification-s-d-ng-c-aacute-c-y-u-t-n-agrave-o-strong-"><strong>E-learning
                    gamification sử dụng các yếu tố nào?</strong></h2>
            <p><img src="https://media.bitdegree.org/storage/media/images/2019/06/Gamified-profile-237x300.jpg"
                    alt="Game elements used in profile" width="237" height="300"
                    data-src="https://media.bitdegree.org/storage/media/images/2019/06/Gamified-profile-237x300.jpg"
                    class="float-right ml-4"></p>
            <p>Được đặt tinh tế trong các phần khác nhau của quá trình học tập được trò chơi hóa có thể mang lại nhiều
                sự đa dạng trong khi học. Các nguyên liệu thường được sử dụng là:</p>
            <ul>
                <li><strong>Progress bars</strong> (Thanh tiến độ). Như đã đề cập ở trên, người dùng cần phải xem họ đã
                    đạt được bao nhiêu tiến bộ và còn lại bao nhiêu.</li>
                <li><strong>Levels </strong>(Cấp độ). Có thể cho rằng đây là yếu tố trò chơi phổ biến nhất hiện có. Đó
                    là một cách tốt để thể hiện với người khác và bản thân bạn đã đi được bao xa.</li>
                <li><strong>Badges</strong> (Phù hiệu). Đây là những điều quan trọng đối với người dùng để làm cho anh
                    ta cảm thấy mình đã hoàn thành một cái gì đó. Phù hiệu chủ yếu được sử dụng như ruy băng cho các cấp
                    độ bạn đã vượt qua.</li>
                <li><strong>Daily challenges and quests</strong> (Thử thách hàng ngày và nhiệm vụ). Để tăng mức độ ưu
                    tiên cho việc quay lại tiếp tục những gì bạn đang thực hiện, phần thưởng hàng ngày được sử dụng để
                    thưởng cho người dùng vì đã duy trì ổn định.</li>
                <li><strong>Virtual currency and goods</strong> (Tiền ảo và hàng hóa). Một nền tảng cần có loại tiền tệ
                    có thể được sử dụng để trao thưởng cho người dùng và cho phép họ nhận hàng hóa ảo.</li>
            </ul>
            <h2 id="-strong-gamification-gi-uacute-p-b-n-atilde-o-ghi-nh-m-i-th-t-t-h-n-strong-"><strong>Gamification
                    giúp bộ não ghi nhớ mọi thứ tốt hơn</strong></h2>
            <p>Mặc dù bộ não con người có lẽ là tiên tiến nhất trong số tất cả các loài sống trên Trái đất, nó vẫn không
                có khả năng lưu trữ tất cả thông tin chúng ta có được trong suốt quá trình nghiên cứu. Nhiều lần, chúng
                ta học được điều gì đó và quên nó vào ngày hôm sau khiến việc thu thập thông tin trở nên vô ích. Dữ liệu
                mới trong não của chúng ta sẽ bị mất nếu không được lưu trữ trong bộ nhớ dài hạn thông qua quá trình
                chuẩn bị, chú ý, lựa chọn, tổ chức và tích hợp nhiều thông tin thu thập có thể dễ dàng bị ảnh hưởng bởi
                gamification trong giáo dục.</p>
            <p>Bộ não có thể thu thập thông tin mới thông qua việc nghe hoặc nhìn thấy mọi thứ, và nếu đó là sự kết hợp
                của cả hai, thì việc ghi nhớ nó sẽ dễ dàng hơn rất nhiều và đặt nó vào ngân hàng bộ nhớ dài hạn.</p>
            <p>Mặc dù cuộc cách mạng kỹ thuật số trong nhiều năm đã cải thiện thời gian phản ứng và khả năng chúng ta
                thực hiện nhiều việc cùng một lúc, nhưng điều này cũng làm giảm sự tập trung chú ý của chúng ta. Đây là
                lý do tại sao cần có những cách thức mới và hiệu quả.</p>
            <h2 id="-strong-t-aacute-m-ng-c-c-t-l-otilde-i-c-a-gamification-strong-"><strong>Tám động cơ cốt lõi của
                    Gamification</strong></h2>
            <p><img src="https://media.bitdegree.org/storage/media/images/2019/06/octalysis-300x297.png"
                    alt="Eight core drivers of octalysis" width="300" height="297"
                    data-src="https://media.bitdegree.org/storage/media/images/2019/06/octalysis-300x297.png"
                    class="float-right ml-4"></p>
            <p>Một trong những cách hiệu quả nhất để tương tác với người dùng được phát hiện bởi sáng lập viên của <a
                    href="https://yukaichou.com/gamification-examples/octalysis-complete-gamification-framework/">“Octalysis”
                    framework</a> Yu-Kai Chou, người đã phát triển một thiết kế trò chơi điện tử ứng dụng hóa con người
                làm trung tâm mà đưa ra tám động cơ cốt lõi thúc đẩy con người. Ông tin rằng bằng cách áp dụng các động
                cơ cốt lõi này, người dùng có thể được thôi thúc hoàn thành một nhiệm vụ hiệu quả thông qua trải nghiệm
                tương tác. Octalysis framework gợi ý sử dụng gamification trong giáo dục, thể dục, chăm sóc sức khỏe và
                thiết kế sản phẩm để tăng sự tham gia của người dùng.</p>
            <h3 id="-strong-t-aacute-m-ng-c-c-t-l-otilde-i-strong-"><strong>Tám động cơ cốt lõi:</strong></h3>
            <ol>
                <li><em>Epic meaning and calling</em> (Ý nghĩa lịch sử và kêu gọi). Động cơ cốt lõi này được biết đến
                    như đang thực hiện một nhiệm vụ lớn hơn chính bạn hoặc người đó đã được “chọn” để thực hiện một
                    nhiệm vụ cụ thể. Động cơ cốt lõi này có thể được mô tả là hành động tình nguyện, khi bạn làm mà
                    không mong chờ được trả công.</li>
                <li><em>Developing and accomplishment </em>(Phát triển và thành tựu). Đây là động cơ nội bộ của chúng ta
                    để đạt được một cái gì đó, để tiến bộ, vượt qua thử thách và phát triển các kỹ năng.</li>
                <li><em>Empowerment of creativity and feedback</em> (Trao quyền cho sự sáng tạo và thông tin phản hồi).
                    Người dùng liên tục cần có cách thể hiện bản thân thông qua quá trình sáng tạo của họ và nhìn ra kết
                    quả sáng tạo bằng cách nhận phản hồi.</li>
                <li><em>Ownership and possession</em> (Chủ quyền và tính sở hữu). Xây dựng một cái gì đó từ đầu giúp bạn
                    cảm thấy chỉ kiểm soát được những gì bạn đang tạo ra. Khi một người kiểm soát một cái gì đó, nó thúc
                    đẩy anh ta cải thiện những gì anh ta sở hữu. Mọi người tin rằng một cái gì đó mà họ sở hữu có giá
                    trị hơn nhiều so với chính nó.</li>
                <li><em>Social influence and relatedness</em> (Ảnh hưởng xã hội và sự liên quan). Động cơ này là tất cả
                    về các yếu tố xã hội bao gồm sự đồng hành, khả năng cạnh tranh, chấp nhận xã hội và sự cố vấn. Giống
                    như gamification trong giáo dục kết nối những người có thể có cùng sở thích hoặc cùng mục tiêu.</li>
                <li><em>Scarcity and impatience</em> (Sự khan hiếm và thiếu kiên nhẫn). Nó có thể được giải thích một
                    cách đơn giản bởi việc con người sợ mất thứ gì đó có giới hạn thời gian, khan hiếm hoặc độc quyền.
                    Việc người dùng không thể có được thứ gì đó ngay bây giờ khiến họ muốn có nó nhiều hơn nữa.</li>
                <li><em>Unpredictability and curiosity</em> (Không thể đoán trước và tò mò). Nó khiến một người phải
                    liên tục tham gia vì anh ta không biết chuyện gì sẽ xảy ra tiếp theo. Đây là lý do căn bản khiến một
                    ai đó nghiện cờ bạc chẳng hạn.</li>
                <li><em>Loss and avoidance</em> (Mất mát và tránh né). Động cơ cốt lõi cuối cùng có thể được mô tả là
                    nỗi sợ bỏ lỡ điều gì đó và thường được sử dụng trong các chương trình khuyến mãi tiếp thị với thời
                    gian hạn chế.</li>
            </ol>
            <h2 id="k-t-lu-n">Kết luận</h2>
            <p>Thay đổi là tốt, đặc biệt là khi nó cần thiết. Quá trình giáo dục trong suốt những năm qua không bao giờ
                ngừng phát triển và nó không phải dừng lại ngay bây giờ. Điều quan trọng là phải đi đôi với thời đại kỹ
                thuật số mới và thích ứng với nhu cầu hiện tại của chúng ta.</p>
            <p>Hãy xem xét tất cả các bằng chứng kỹ thuật và tâm lý từ gamification trong giáo dục tác động đến quá
                trình học tập của chúng ta, rõ ràng là sự thay đổi này đang đi đúng hướng.</p>
        </div>
     
    </article>
</main>